// Lights HAL for Infinix X670

cc_binary {
    name: "android.hardware.lights-service.X670",
    vendor: true,
    srcs: ["main.cpp"],
    shared_libs: [
        "android.hardware.light@2.0",
        "liblog",
        "libutils",
    ],
}
